.mt-0 { margin-top: 0!important; }
.mt-1 { margin-top: 5px!important; }
.mt-2 { margin-top: 10px!important; }
.mt-3 { margin-top: 15px!important; }
.mt-4 { margin-top: 20px!important; }

.mb-0 { margin-bottom: 0!important; }
.mb-1 { margin-bottom: 5px!important; }
.mb-2 { margin-bottom: 10px!important; }
.mb-3 { margin-bottom: 15px!important; }
.mb-4 { margin-bottom: 20px!important; }

.mr-0 { margin-right: 0!important; }
.mr-1 { margin-right: 5px!important; }
.mr-2 { margin-right: 10px!important; }
.mr-3 { margin-right: 15px!important; }
.mr-4 { margin-right: 20px!important; }

.ml-0 { margin-left: 0!important; }
.ml-1 { margin-left: 5px!important; }
.ml-2 { margin-left: 10px!important; }
.ml-3 { margin-left: 15px!important; }
.ml-4 { margin-left: 20px!important; }

.pt-0 { padding-top: 0!important; }
.pt-1 { padding-top: 5px!important; }
.pt-2 { padding-top: 10px!important; }
.pt-3 { padding-top: 15px!important; }
.pt-4 { padding-top: 20px!important; }

.pb-0 { padding-bottom: 0!important; }
.pb-1 { padding-bottom: 5px!important; }
.pb-2 { padding-bottom: 10px!important; }
.pb-3 { padding-bottom: 15px!important; }
.pb-4 { padding-bottom: 20px!important; }

.pr-0 { padding-right: 0!important; }
.pr-1 { padding-right: 5px!important; }
.pr-2 { padding-right: 10px!important; }
.pr-3 { padding-right: 15px!important; }
.pr-4 { padding-right: 20px!important; }

.pl-0 { padding-left: 0!important; }
.pl-1 { padding-left: 5px!important; }
.pl-2 { padding-left: 10px!important; }
.pl-3 { padding-left: 15px!important; }
.pl-4 { padding-left: 20px!important; }

.size-full { width: 100%!important; }
.flush-box{
    content: '';
    display: block;
    clear: both;
}
