div.sq-error-frame {
    height: 100vh;
    background-color: #f9f9f9;
}

div.sq-error-frame div.contents {
    padding-top: calc(50vh - 110px);
}

div.sq-login-frame {
    height: 100vh;
    background-color: #f9f9f9;
}

div.nh-default-frame > div.nh-menu-wrap{
    width: 230px;
    height: 100vh;
    overflow-y: scroll;
    background-color: #404040;
    float: left;
    text-align: center;
}

div.nh-default-frame > div.nh-menu-wrap div.in-logo{
    text-align: center;
    padding-top: 15px;
}

div.nh-default-frame > div.nh-menu-wrap div.in-logo img{
    width: 170px;
    height: 40px;
}

div.nh-default-frame > div.nh-menu-wrap div.in-menu{
    padding: 15px;
    color: #e0e0e0;
}

div.nh-default-frame > div.nh-menu-wrap div.in-logo{
    text-align: center;
    padding: 15px 0;
    border-bottom: #b2b2b2 1px solid;

}

div.nh-default-frame > div.nh-contents-wrap{
    width: calc(100% - 230px);
    height: 100vh;
    overflow-y: scroll;
    background-color: #cecece;
    float: left;
}
