<template>
    <div class="nh-default-frame flush-box">
        <div class="nh-menu-wrap">
            <div class="in-logo"><nuxt-link to="/"><img src="/images/logo.png" alt="logo">  </nuxt-link></div>
            <div class="in-menu">
                <ul>
                    <li class="depth1-box">
                        <div class="depth1-title">
                            <i class="el-icon-s-custom"></i> HOME
                            <span><i class="el-icon-arrow-down"></i></span>
                        </div>
                        <div>
                            <ul>
                                <li>2차 메뉴 1</li>
                                <li>2차 메뉴 2</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="nh-contents-wrap">
            <div> HOME <i  class="el-icon-arrow-right"></i> DashBoard</div>
            <div>
                <Nuxt />
            </div>
        </div>
    </div>
</template>
<script>
import AdminHeader from "@/components/layout/admin-header"
import AdminSidebarAvatar from "@/components/layout/admin-sidebar-avatar"
import AdminSidebarMenu from "@/components/layout/admin-sidebar-menu"

export default {
    components: {
        AdminHeader,
        AdminSidebarAvatar,
        AdminSidebarMenu
    }
}
</script>
